<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>这是一张静止的图片， 你的心理压力越大，图片转动越快，而儿童看这幅图片一般是静止的。</string>
		<key>head</key>
		<string>盯着下图看几秒，它在转吗，转得快吗？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi1</string>
		<key>picture</key>
		<string>pic1.jpg</string>
		<key>title</key>
		<string>测测你的心理压力有多大</string>
	</dict>
	<key>item1</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>横线都是平行的！涉世越深的人，受社会侵蚀越严重，看到的直线越变形。你还是单纯的你吗？</string>
		<key>head</key>
		<string>你能看出几条笔直的横线？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi2</string>
		<key>picture</key>
		<string>pic2.jpg</string>
		<key>title</key>
		<string>看一看你还是单纯的人吗</string>
	</dict>
	<key>item10</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>心理压力越大，黑色小点闪动得就越快，该死的小黑点还是安静点吧！</string>
		<key>head</key>
		<string>图中的黑色小点闪动得快吗？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi11</string>
		<key>picture</key>
		<string>pic11.jpg</string>
		<key>title</key>
		<string>你的心理压力有多大？</string>
	</dict>
	<key>item11</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>第一眼看到什么，说明你潜在是什么</string>
		<key>head</key>
		<string>第一眼你看到的是什么？</string>
		<key>heart</key>
		<string>heart12</string>
		<key>image</key>
		<string>ceshi12</string>
		<key>picture</key>
		<string>pic12.jpg</string>
		<key>title</key>
		<string>测试你潜在是天使还是魔鬼！</string>
	</dict>
	<key>item12</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>孩子们第一眼看到的是一群玩耍的海豚，但是成年人第一眼看到的却是“另一些东西”。</string>
		<key>head</key>
		<string>60秒内，你能找到几只海豚？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi13</string>
		<key>picture</key>
		<string>pic13.jpg</string>
		<key>title</key>
		<string>一张图片测试你的好色程度</string>
	</dict>
	<key>item13</key>
	<dict>
		<key>A</key>
		<string>1-2张</string>
		<key>Aans</key>
		<string>1-2张：轻度弱智</string>
		<key>B</key>
		<string>3-6张</string>
		<key>Bans</key>
		<string>3-6张：正常人</string>
		<key>C</key>
		<string>7-10张</string>
		<key>Cans</key>
		<string>7-10张：超与常人</string>
		<key>D</key>
		<string>11-15张</string>
		<key>Dans</key>
		<string>11-15张：天才</string>
		<key>explain</key>
		<string></string>
		<key>head</key>
		<string>你能看到多少张脸呢？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi14</string>
		<key>picture</key>
		<string>pic14.png</string>
		<key>title</key>
		<string>测测你的智力</string>
	</dict>
	<key>item14</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>顺时针转，右脑；逆时针转，左脑。据说，14%的美国人可以两个方向都能看见</string>
		<key>head</key>
		<string>图上的舞女朝哪个方向转？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi15</string>
		<key>picture</key>
		<string>pic15.jpg</string>
		<key>title</key>
		<string>你用的是左脑还是右脑？</string>
	</dict>
	<key>item15</key>
	<dict>
		<key>A</key>
		<string>A E</string>
		<key>Aans</key>
		<string>A：警察、教练、作家 E：演员、司机、商人、基层管理人员</string>
		<key>B</key>
		<string>B</string>
		<key>Bans</key>
		<string>B：漫画家、会计、导演、设计师</string>
		<key>C</key>
		<string>C</string>
		<key>Cans</key>
		<string>C：领导、律师、指挥</string>
		<key>D</key>
		<string>D</string>
		<key>Dans</key>
		<string>D：医生、教师、歌手、记者、工人</string>
		<key>explain</key>
		<string></string>
		<key>head</key>
		<string>你从哪个出口走出了迷宫？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi16</string>
		<key>picture</key>
		<string>pic16.jpg</string>
		<key>title</key>
		<string>走走迷宫，来看适合你的职业</string>
	</dict>
	<key>item16</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>波涛汹涌，请马上休假；微波荡漾，请小休几日；很多颗榛子，请继续为人民币服务。</string>
		<key>head</key>
		<string>压力测试图，你看到了什么？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi17</string>
		<key>picture</key>
		<string>pic17.jpg</string>
		<key>title</key>
		<string>你需要休息吗？</string>
	</dict>
	<key>item17</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>通常女性会先看到月亮，男性会先看到人脸。如果相反，表示你体内的异性荷尔蒙偏高哦</string>
		<key>head</key>
		<string>你先看到人脸还是月亮</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi18</string>
		<key>picture</key>
		<string>pic18.jpg</string>
		<key>title</key>
		<string>测测你体内的异性荷尔蒙高不高</string>
	</dict>
	<key>item18</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>女性身体，异性恋；两个人在跳舞，同性恋；都看到，那你就是双性恋</string>
		<key>head</key>
		<string>你看到了什么？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi19</string>
		<key>picture</key>
		<string>pic19.jpg</string>
		<key>title</key>
		<string>测测你的性取向</string>
	</dict>
	<key>item2</key>
	<dict>
		<key>A</key>
		<string>0-4张</string>
		<key>Aans</key>
		<string>0-4张：弱智</string>
		<key>B</key>
		<string>5-8张</string>
		<key>Bans</key>
		<string>5-8张：一般人</string>
		<key>C</key>
		<string>9-11张</string>
		<key>Cans</key>
		<string>9-11张：特别感性</string>
		<key>D</key>
		<string>12-13张</string>
		<key>Dans</key>
		<string>12-13张：精神分裂</string>
		<key>explain</key>
		<string></string>
		<key>head</key>
		<string>在这张图中，你能看到多少个人头？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi3</string>
		<key>picture</key>
		<string>pic3.jpg</string>
		<key>title</key>
		<string>数数人头，更了解自己</string>
	</dict>
	<key>item3</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>鸭子，男人特质多一点；兔子：女人特质多一点</string>
		<key>head</key>
		<string>下图中你第一眼看到的是鸭子还是兔子？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi4</string>
		<key>picture</key>
		<string>pic4.jpg</string>
		<key>title</key>
		<string>测测你的性格偏男偏女</string>
	</dict>
	<key>item4</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>如果你看见蓝色的爱心在旋转，那就证明你心中充满了爱哦！</string>
		<key>head</key>
		<string>凝视画面中心的白色字母，神奇就会发生</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi5</string>
		<key>picture</key>
		<string>pic5.png</string>
		<key>title</key>
		<string>你心中充满爱吗？</string>
	</dict>
	<key>item5</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>这是一个jpg 格式的图片，如果你看到运动的景象，表明你的生活压力大，内心情绪波动比较大。</string>
		<key>head</key>
		<string>你看到的景象是运动的还是静止的？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi6</string>
		<key>picture</key>
		<string>pic6.jpg</string>
		<key>title</key>
		<string>测测你的生活压力大吗？</string>
	</dict>
	<key>item6</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>如果看到了心在动，说明半年之内你的感情生活发生了一些比较重大的变化</string>
		<key>head</key>
		<string>看着这个图，眼睛绕图三周转</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi7</string>
		<key>picture</key>
		<string>pic7.jpg</string>
		<key>title</key>
		<string>你的感情生活稳定吗？</string>
	</dict>
	<key>item7</key>
	<dict>
		<key>A</key>
		<string>1 5</string>
		<key>Aans</key>
		<string>不见1（25）：侵略性强 不见5（64）：有潜在的同性恋倾向。</string>
		<key>B</key>
		<string>2 6</string>
		<key>Bans</key>
		<string>不见2（29）：智力较低 不见6（8）：可能轻易会精神分裂</string>
		<key>C</key>
		<string>3</string>
		<key>Cans</key>
		<string>不见3（45）：生活放荡败坏</string>
		<key>D</key>
		<string>4</string>
		<key>Dans</key>
		<string>不见4（56）：倾向暴力领导</string>
		<key>explain</key>
		<string></string>
		<key>head</key>
		<string>圆圈中的数字，你哪一个看不见呢？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi8</string>
		<key>picture</key>
		<string>pic8.jpg</string>
		<key>title</key>
		<string>这些数字你都能看见吗？</string>
	</dict>
	<key>item8</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>当你心情好的时候，能看到少女的脸；心情坏的时候，能看到巫婆的脸</string>
		<key>head</key>
		<string>你的心情怎么样？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi9</string>
		<key>picture</key>
		<string>pic9.jpg</string>
		<key>title</key>
		<string>你现在心情好吗？</string>
	</dict>
	<key>item9</key>
	<dict>
		<key>A</key>
		<string></string>
		<key>Aans</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>Bans</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>Cans</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Dans</key>
		<string></string>
		<key>explain</key>
		<string>据说全世界只有0.003%的人和photoshop能看出它们的颜色是相同的。</string>
		<key>head</key>
		<string>你认为A和B所在方格颜色相同吗？</string>
		<key>heart</key>
		<string>heart1</string>
		<key>image</key>
		<string>ceshi10</string>
		<key>picture</key>
		<string>pic10.jpg</string>
		<key>title</key>
		<string>方格颜色相同吗？</string>
	</dict>
</dict>
</plist>
